<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
   		...
  	</div>
</nav>



<

<svg class="task-list" ng-width="{{cWidth}}" ng-height="{{cHeight}}">
	<circle ng-cx="{{centerX}}" ng-cy="{{centerY}}" ng-r="{{centerR}}" stroke="black" stroke-width="3" fill="red" />
	
	<g ng-repeat="(key, value) in taskData">
  		<a xlink:href="http://www.google.co.jp/">
  			<image xlink:href="./img/image.png" ng-x="{{taskCoords[key][0]}}" ng-y="{{taskCoords[key][1]}}"  ng-width="{{taskSize}}" ng-height="{{taskSize}}"/ alt="{{task.iconUrl}}">
  		</a>		
  	</g>
</svg>




</div>

