<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
   		...
  	</div>
</nav>



<svg class="task-list" ng-width="{{cWidth}}" ng-height="{{cHeight}}">

	<circle class="taskBin" ng-cx="{{centerX}}" ng-cy="{{centerY}}" ng-r="{{centerR}}" stroke="black" stroke-width="3" fill="red" />

  <text ng-x="{{centerX}}" ng-y="{{centerY}}" text-anchor="middle" fill="white">
    <tspan ng-x="{{centerX}}" ng-y="{{centerY}}">Completion</tspan>
    <tspan ng-x="{{centerX}}" ng-y="{{centerYAlt(20)}}">0 / {{taskNumber}}</tspan>
  </text>
	
	<g ng-repeat="(key, value) in taskData">
  			<image 
          class="{{value.iconClass}}"
          xlink:href="{{value.iconUrl}}"
          ng-x="{{taskCoords[key][0]}}" 
          ng-y="{{taskCoords[key][1]}}"  
          ng-width="{{taskSize}}" 
          ng-height="{{taskSize}}" 
          alt="icon{{key}}">
  	
    
  </g>
</svg>




</div>

