<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container">
   		...
  	</div>
</nav>




<svg class="task-list" ng-width="{{cWidth}}" ng-height="{{svgHeight}}">

	<circle class="taskBin" ng-cx="{{centerX}}" ng-cy="{{centerY}}" ng-r="{{centerR}}" stroke="black" stroke-width="3" fill="red" />

  <text ng-x="{{centerX}}" ng-y="{{centerY}}" text-anchor="middle" fill="white">
    <tspan ng-x="{{centerX}}" ng-y="{{centerY}}">Completion</tspan>
    <tspan ng-x="{{centerX}}" ng-y="{{centerYAlt(20)}}">0 / {{taskNumber}}</tspan>
  </text>
  



  <g class="detail-group">
    <rect class="detail" x="0" ng-y="{{taskDetailY}}" ng-width="{{cWidth}}" ng-height="{{taskDetailH}}" style="fill:rgb(0,0,0)"/>

    <text text-anchor="left" fill="white"> 
      <tspan class="detail-title" ng-x="{{textDetailX}}" ng-y="{{textDetailY}}">gay ass</tspan>
      <tspan class="detail-content" ng-x="{{textDetailX}}" ng-y="{{textDetailYAlt(2)}}">total gay</tspan>
    </text>

    <a id="editButton" xlink:href="#/edit" target="_top">
      <image 
            xlink:href="./img/icon/edit.png"
            ng-x="{{iconDetailX}}" 
            ng-y="{{iconDetailY}}"  
            ng-width="{{iconDetailSize}}" 
            ng-height="{{iconDetailSize}}">
    </a>
  </g>




  <g class="feature-delete">
    <rect x="0" y="0" ng-width="{{displayW}}" ng-height="{{cHeight}}" style="fill:rgb(0,0,255)"/>
    <image 
      xlink:href="./img/icon/sideTrash.png"
      ng-x="{{sideIconX}}" 
      ng-y="{{sideIconY}}"  
      ng-width="{{sideIconSize}}" 
      ng-height="{{sideIconSize}}"/>
  </g>

  <g class="feature-delete">
    <rect ng-x="{{dispalyX}}" y="0" ng-width="{{displayW}}" ng-height="{{cHeight}}" style="fill:rgb(0,0,255)"/>
    <image 
      xlink:href="./img/icon/sideTrash.png"
      ng-x="{{sideIconXr}}" 
      ng-y="{{sideIconY}}"  
      ng-width="{{sideIconSize}}" 
      ng-height="{{sideIconSize}}"/>
  </g>

  <g class="feature-detail">
    <rect x="0" ng-y="{{dispalyY}}" ng-width="{{cWidth}}" ng-height="{{displayH}}" style="fill:rgb(0,0,255)"/>
    <image 
      xlink:href="./img/icon/sideRead.png"
      ng-x="{{botIconX}}" 
      ng-y="{{botIconY}}"  
      ng-width="{{sideIconSize}}" 
      ng-height="{{sideIconSize}}"/>
  </g>




	<image 
    ng-repeat="(key, value) in taskData"
    class="{{value.iconClass}}"
    ng-xlink-href="{{value.iconUrl}}"
    xlink:href=""
    ng-x="{{taskCoords[key][0]}}" 
    ng-y="{{taskCoords[key][1]}}"  
    ng-width="{{taskSize}}" 
    ng-height="{{taskSize}}" 
    alt="{{value.title}}/n{{value.content}}/n{{key}}"/>


  <a xlink:href="#/new" target="_top">
    <image 
          class=""
          xlink:href="./img/icon/add.png"
          ng-x="{{taskCoordsLast[0]}}" 
          ng-y="{{taskCoordsLast[1]}}"  
          ng-width="{{taskSize}}" 
          ng-height="{{taskSize}}"/>
  </a>



</svg>





