<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		...
	</div>
</nav>

<form ng-submit="submit()">
	<div class="iconSelected">
    <img class="iconSelected" ng-src="./img/icon/{{iconSelected}}a.png" >
  </div>


	<img ng-repeat="(key, value) in iconData" class="iconPiker" ng-src="./img/icon/{{value}}a.png" ng-click="iconSelect(value)" >


	Title:
	<input type="text" ng-model="title" name="title" />

	Detail:
	<input type="text" ng-model="detail" name="detail" />
	<button type="submit">
	<img src="./img/icon/15a.png">
	</button>

</form>


